table {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

td, th {
  border: 2px solid #CCC9C9;
  padding: 15px;
  text-align: center;
}
table {
    
}
th {
    
    border: 2px solid #033351;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
    
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #024873;
  color: white;
}
.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2px;
}
.pagination a {
    background-color: #024873;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid black;
    padding: 10px;
    transition: 0.5s;
    
} 
.pagination a:hover {
    background-color: #002942;
    opacity: 1;
        
} 
.Tipos p {
  font-family: Calibri;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.Tipos #itens {
  margin-left: 15px;
  font-family: Calibri;
  font-size: 16px;
  text-align: left;
}
.Tipos  {
    margin-top : 30px;
    border : 2px solid black;
    width: 25%;
    background-color: #024873;
    color: white;
}

input {
  margin : 0px 15px 15px 0px;
  font-family: Times;
  font-size: 15px;
  font-weight: bold;
  Border : 3px solid black;
  border-radius: 100px;
  padding: 10px;
}
